<div class="flow-sidebar mb-4">
	<div class="flow-row">
		<div class="flow-detail-steps" id="stepTabs" role="tablist" aria-orientation="vertical">
			<div class="detail-step step-one">
				<div class="detail-icon"><img src="~/images/feed/toyota-badge.svg"></div>
				<div class="detail-info">
					<div class="badge badge-secondary">1st Feed</div>
					<h5>Your Service</h5>
					<nav class="nav flex-column feed-ul">
						<a class="nav-link active" id="startHere-tab" data-toggle="pill" href="#startHere" role="tab" aria-controls="startHere" aria-selected="true">Start Feed setup</a>
						<a class="nav-link" id="searchFeed-tab" data-toggle="pill" href="#searchFeed" role="tab" aria-controls="searchFeed" aria-selected="false">Own service</a>
						<a class="nav-link" id="connectHere-tab" data-toggle="pill" href="#connectHere" role="tab" aria-controls="connectHere" aria-selected="false">Connect to service</a>
					</nav>
				</div>
			</div>
			<div class="detail-step step-two">
				<div class="detail-icon"><img src="~/images/feed/mascus-badge.svg"></div>
				<div class="detail-info"> 
					<div class="badge badge-secondary">2nd Feed</div>
					<h5>Connect with</h5>
					<nav class="nav flex-column merchant-ul">
						<a class="nav-link" id="merchantFeed-tab" data-toggle="pill" href="#merchantFeed" role="tab" aria-controls="merchantFeed" aria-selected="false">Choose merchant</a>
						<a class="nav-link" id="connectMerchant-tab" data-toggle="pill" href="#connectMerchant" role="tab" aria-controls="connectMerchant" aria-selected="false">Connect to service</a> 
					</nav>
				</div>
			</div>
			<div class="detail-step step-three">
				<div class="detail-icon"><i class="fa fa-object-ungroup"></i></div>
				<div class="detail-info">
					<div class="badge badge-secondary">Connection</div>
					<h5>Merge data</h5>
					<nav class="nav flex-column integration-ul">
						<a class="nav-link" id="integrateHere-tab" data-toggle="pill" href="#integrateHere" role="tab" aria-controls="integrateHere" aria-selected="false">Choose integration</a>
						<a class="nav-link" id="reviewhHere-tab" data-toggle="pill" href="#reviewhHere" role="tab" aria-controls="reviewhHere" aria-selected="false">Review setup</a>
					</nav>
				</div>
			</div>
			<div class="detail-step final-step">
				<div class="detail-icon"><i class="fa fa-check"></i></div>
				<div class="detail-info">
					<div class="badge badge-secondary">Review</div>
					<h5>Finalise</h5>
					<nav class="nav flex-column review-ul d-none">
						<a class="nav-link" id="finishHere-tab" data-toggle="pill" href="#finishHere" role="tab" aria-controls="finishHere" aria-selected="false">Done</a>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>


