@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 100px;">
	<div class="row">
		<div class="col-md-6 mx-auto">
			<div class="card text-center">					
				<div class="card-header bg-white">					
					@await Html.PartialAsync("_ManageNav")
				</div>
				<div class="card-body">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
