@{
    ViewData["Title"] = "Connected Accounts";
}

<section class="section pt-0">
	<div class="container-fluid">
		<div class="row mb-4">
			<div class="col-9">
				<h2 class="display-4">@ViewData["Title"]</h2>
				<p class="lead">Accounts that have permissions setup and are active.</p>
			</div>
			<div class="col-3 align-self-center text-right">
				<a href="/create-feed" class="btn btn-primary">New account</a>
			</div>
		</div>
		
		<table class="feedsTable table table-lg table-hover bg-white">
			<tbody>
				<tr>
					
					<td width="50px"><img src="~/images/feed/toyota-badge.svg" class="img-fluid"></td>
					<td>
						<h4><a href="/toyota-account">Britehouse</a></h4>
						<div>Created <b>Dec 10, 2017 9:48 am</b></div>
					</td>
					<td>
						<div>Last requested: <b>Dec 11, 2017 11:48 am</b></div>
						<div class="text-truncate">Last status code: <div class="badge badge-pill badge-success">200 - Successful requests</div></div>
					</td>
					<td>
						<div class="row">
							<div class="col">
								<h5><a href="javascript:void(0)">26</a></h5>
								<div><i class="fa fa-user"></i> Dealers</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">348</a></h5>
								<div><i class="fa fa-download"></i> Stock</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">2</a></h5>
								<div><i class="fa fa-comment-alt"></i> Feeds</div>
							</div>
						</div>
					</td>
					<td></td>
					<td class="text-right">
						<div class="hover-show">
							<a href="javascript:void(0)" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Test Connection">Test</a>
							<a href="javascript:void(0)" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Reconnect"><i class="fa fa-plug fa-fw"></i></a>
							<a href="javascript:void(0)" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Disconnect"><i class="fa fa-power-off fa-fw"></i></a>
						</div>
					</td>
				</tr>
				<tr>
					
					<td width="50px"><img src="~/images/feed/mascus-badge.svg" class="img-fluid"></td>
					<td>
						<h4><a href="javascript:void(0)">Mascus Used Vehicle</a></h4>
						<div>Created <b>Aug 10, 2016 9:48 am</b></div>
					</td>
					<td>
						<div>Last requested: <b>Aug 10, 2016 9:48 am</b></div>
						<div class="text-truncate">Last status code: <div class="badge badge-pill badge-success">200 - Successful requests</div></div>
					</td>
					<td>
						<div class="row">
							<div class="col">
								<h5><a href="javascript:void(0)">12</a></h5>
								<div><i class="fa fa-user"></i> Dealers</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">34</a></h5>
								<div><i class="fa fa-download"></i> Stock</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">2</a></h5>
								<div><i class="fa fa-comment-alt"></i> Feeds</div>
							</div>
						</div>
					</td>
					<td></td>
					<td class="text-right">
						<div class="hover-show">
							<a href="javascript:void(0)" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Test Connection">Test</a>
							<a href="javascript:void(0)" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Reconnect"><i class="fa fa-plug fa-fw"></i></a>
							<a href="javascript:void(0)" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Disconnect"><i class="fa fa-power-off fa-fw"></i></a>
						</div>
					</td>
				</tr>
				<tr>
					
					<td width="50px"><img src="~/images/feed/automart-badge.svg" class="img-fluid"></td>
					<td>
						<h4><a href="javascript:void(0)">Auto Mart Used Vehicle</a></h4>
						<div>Created <b>Aug 10, 2016 9:48 am</b></div>
					</td>
					<td>
						<div>Last requested: <b>Aug 10, 2016 9:48 am</b></div>
						<div class="text-truncate">Last status code: <div class="badge badge-pill badge-warning">308 - Permanent Redirect</div></div>
					</td>
					<td>
						<div class="row">
							<div class="col">
								<h5><a href="javascript:void(0)">3</a></h5>
								<div><i class="fa fa-user"></i> Dealers</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">34</a></h5>
								<div><i class="fa fa-download"></i> Stock</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">2</a></h5>
								<div><i class="fa fa-comment-alt"></i> Feeds</div>
							</div>
						</div>
					</td>
					<td></td>
					<td class="text-right">
						<div class="hover-show">
							<a href="javascript:void(0)" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Test Connection">Test</a>
							<a href="javascript:void(0)" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Reconnect"><i class="fa fa-plug fa-fw"></i></a>
							<a href="javascript:void(0)" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Disconnect"><i class="fa fa-power-off fa-fw"></i></a>
						</div>
					</td>
				</tr>
				<tr>
					
					<td width="50px"><img src="~/images/feed/ix-badge.svg" class="img-fluid"></td>
					<td>
						<h4><a href="javascript:void(0)">IX Used Vehicle</a></h4>
						<div>Created <b>Aug 10, 2016 9:48 am</b></div>
					</td>
					<td>
						<div>Last requested: <b>Aug 10, 2016 9:48 am</b></div>
						<div class="text-truncate">Last status code: <div class="badge badge-pill badge-danger">404 - Resource not found</div></div>
					</td>
					<td>
						<div class="row">
							<div class="col">
								<h5><a href="javascript:void(0)">18</a></h5>
								<div><i class="fa fa-user"></i> Dealers</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">34</a></h5>
								<div><i class="fa fa-download"></i> Stock</div>
							</div>
							<div class="col">
								<h5><a href="javascript:void(0)">0</a></h5>
								<div><i class="fa fa-comment-alt"></i> Feeds</div>
							</div>
						</div>
					</td>
					<td></td>
					<td class="text-right">
						<div class="hover-show">
							<a href="javascript:void(0)" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Test Connection">Test</a>
							<a href="javascript:void(0)" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Reconnect"><i class="fa fa-plug fa-fw"></i></a>
							<a href="javascript:void(0)" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Disconnect"><i class="fa fa-power-off fa-fw"></i></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
	
	</div>
</section>


<h4>List of HTTP status codes</h4>
<p>What can happen to an account/feed/connection</p>
<ul class="">
	<li><div class="badge badge-pill badge-secondary">1xx</div> Informational responses</li>
	<li><div class="badge badge-pill badge-success">2xx</div> Success</li>
	<li><div class="badge badge-pill badge-warning">3xx</div> Redirection</li>
	<li><div class="badge badge-pill badge-danger">4xx</div> Client errors</li>
	<li><div class="badge badge-pill badge-dark">5xx</div> Server errors</li>
</ul>


@section Scripts {

}
