@{
    ViewData["Title"] = "Accounts";
}

<section class="section pt-0">
	<div class="container-fluid">
		<div class="row mb-4">
			<div class="col-9">
				<h2 class="display-4">@ViewData["Title"]</h2>
				<p class="lead">Accounts that have permissions setup and are active.</p>
			</div>
			<div class="col-3 align-self-center text-right">
				<a href="/add-feed" class="btn btn-primary">Connect an account</a>
			</div>
		</div>
	
		<div class="card mb-4">
			<div class="card-header">
				Id: <b>203639</b>
				<span class="float-right">Feeds <b>1</b></span>
			</div>
			<table class="table mb-0">
				<tbody>
					<tr>
						<td><img src="~/images/feed/toyota-badge.svg" style="height: 30px"></td>
						<td><h4>Toyota</h4></td>
						<td><div class="text-truncate"><a href="">http://toyota.com/index.php?option=com_djcatalog2&view=mohsen&format=raw</a></div></td>
						<td><div class="text-truncate">Morne12</div></td>
						<td class="text-right">
							<div class="dropdown">
								<a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item" href="#">Test</a>
									<a class="dropdown-item" href="#">Reconnect</a>
									<a class="dropdown-item" href="#">Disconnect</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="card-footer">
				<i class="fa fa-circle text-success"></i> Connected
				<span class="float-right">Created <b>13/11/2017</b></span>
			</div>
		</div>
		
		<div class="card mb-4">
			<div class="card-header">
				Id: <b>8616</b>
				<span class="float-right">Feeds <b>1</b></span>
			</div>
			<table class="table mb-0">
				<tbody>
					<tr>
						<td><img src="~/images/feed/mascus-badge.svg" style="height: 30px"></td>
						<td><h4>Mascus</h4></td>
						<td><div class="text-truncate"><a href="">http://mascus.com/index.php?option=com_djcatalog2&view=mohsen&format=raw</a></div></td>
						<td><div class="text-truncate">MorneMascus</div></td>
						<td class="text-right">
							<a href="" class="btn btn-secondary btn-sm">Test</a>
							<a href="" class="btn btn-secondary btn-sm">Reconnect</a>
							<a href="" class="btn btn-secondary btn-sm">Disconnect</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="card-footer">
				<i class="fa fa-circle text-success"></i> Connected
				<span class="float-right">Created <b>09/10/2017</b></span>
			</div>
		</div>
		
		<div class="card mb-4">
			<div class="card-header">
				Id: <b>6032479</b>
				<span class="float-right">Feeds <b>2</b></span>
			</div>
			<table class="table mb-0">
				<tbody>
					<tr>
						<td><img src="~/images/feed/automart-badge.svg" style="height: 30px"></td>
						<td><h4>Auto Mart</h4></td>
						<td><div class="text-truncate"><a href="">http://automart.com/index.php?option=com_djcatalog2&view=mohsen&format=raw</a></div></td>
						<td><div class="text-truncate">AMMorne</div></td>
						<td class="text-right">
							<a href="" class="btn btn-secondary btn-sm">Test</a>
							<a href="" class="btn btn-secondary btn-sm">Reconnect</a>
							<a href="" class="btn btn-secondary btn-sm">Disconnect</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="card-footer">
				<i class="fa fa-circle text-success"></i> Connected
				<span class="float-right">Created <b>15/05/2017</b></span>
			</div>
		</div>
	
	</div>
</section>


@section Scripts {

}