@{
    ViewData["Title"] = "New Feed Setup";
}


<section class="section" id="searchFeed">
	<div class="container-max px-4">
		
		
		<div class="row mb-4">
			<div class="col text-center">
				<h1 class="display-4">Choose a services</h1>
				<div class="badge badge-pill badge-secondary mx-auto">Step 1 of 5</div>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col text-center">
				<div class="paste">
					<input type="text" class="form-control" id="" placeholder="Paste API URL...">
				</div>
			</div>
			<div class="col text-center">
				<div class="search mb-3">
					<input type="text" class="form-control" id="" placeholder="Search Services...">
				</div>
			</div>
		</div>
		
		<ul class="list">
			<li class="bg-facebook">
				<a href="">
					<div>
						<img src="~/images/feed/ix.svg">
						<span class="feed-name">IX</span>
					</div>
				</a>
			</li>
			<li class="bg-secondary">
				<a href="">
					<div>
						<img src="~/images/feed/automart.svg">
						<span class="feed-name">Auto Mart</span>
					</div>
				</a>
			</li>
			<li class="bg-warning">
				<a href="">
					<div>
						<img src="~/images/feed/3.svg">
						<span class="feed-name">Truck and Trailer</span>
					</div>
				</a>
			</li>
			<li class="bg-danger">
				<a href="">
					<div>
						<img src="~/images/feed/4.svg">
						<span class="feed-name">Auto Trader</span>
					</div>
				</a>
			</li>
			<li class="bg-info">
				<a href="">
					<div>
						<img src="~/images/feed/5.svg">
						<span class="feed-name">Gumtree</span>
					</div>
				</a>
			</li>
			<li class="bg-dark">
				<a href="">
					<div>
						<img src="~/images/feed/6.svg">
						<span class="feed-name">OLX</span>
					</div>
				</a>
			</li>
			<li class="bg-facebook">
				<a href="">
					<div>
						<img src="~/images/feed/7.svg">
						<span class="feed-name">Just sell it</span>
					</div>
				</a>
			</li>
			<li class="bg-google">
				<a href="">
					<div>
						<img src="~/images/feed/8.svg">
						<span class="feed-name">Junk Mail</span>
					</div>
				</a>
			</li>
			<li class="bg-dribbble">
				<a href="">
					<div>
						<img src="~/images/feed/9.svg">
						<span class="feed-name">CMH</span>
					</div>
				</a>
			</li>
			<li class="bg-primary">
				<a href="">
					<div>
						<img src="~/images/feed/10.svg">
						<span class="feed-name">Auto SLM</span>
					</div>
				</a>
			</li>
			
            <li style="background: #fb7121">
				<a href="">
					<div>
						<img src="~/images/feed/mascus.svg">
						<span class="feed-name">Mascus</span>
					</div>
				</a>
			</li>
            <li class="bg-danger">
				<a href="">
					<div>
						<img src="~/images/feed/toyota.svg">
						<span class="feed-name">Toyota</span>
					</div>
				</a>
			</li>
            <li class="bg-pinterest">
				<a href="">
					<div>
						<img src="~/images/feed/13.svg">
						<span class="feed-name">Car Find</span>
					</div>
				</a>
			</li>
            <li class="bg-google">
				<a href="">
					<div>
						<img src="~/images/feed/14.svg">
						<span class="feed-name">Barloworld</span>
					</div>
				</a>
			</li>
            <li class="bg-linkedin">
				<a href="">
					<div>
						<img src="~/images/feed/15.svg">
						<span class="feed-name">Barloworld Commercial</span>
					</div>
				</a>
			</li>
            <li class="bg-dribbble">
				<a href="">
					<div>
						<img src="~/images/feed/16.svg">
						<span class="feed-name">Call a Car</span>
					</div>
				</a>
			</li>
            <li class="bg-github">
				<a href="">
					<div>
						<img src="~/images/feed/17.svg">
						<span class="feed-name">Imperial Select</span>
					</div>
				</a>
			</li>
            <li class="bg-youtube">
				<a href="">
					<div>
						<img src="~/images/feed/18.svg">
						<span class="feed-name">Vehicle Traders</span>
					</div>
				</a>
			</li>
            <li class="bg-instagram">
				<a href="">
					<div>
						<img src="~/images/feed/19.svg">
						<span class="feed-name">General</span>
					</div>
				</a>
			</li>
            <li class="bg-reddit">
				<a href="">
					<div>
						<img src="~/images/feed/20.svg">
						<span class="feed-name">Hyundai</span>
					</div>
				</a>
			</li>
            <li class="bg-tumblr">
				<a href="">
					<div>
						<img src="~/images/feed/21.svg">
						<span class="feed-name">Carshop Hub</span>
					</div>
				</a>
			</li>
            <li class="bg-behance">
				<a href="">
					<div>
						<img src="~/images/feed/22.svg">
						<span class="feed-name">Dealer Stock Control</span>
					</div>
				</a>
			</li>
            <li class="bg-black">
				<a href="">
					<div>
						<img src="~/images/feed/23.svg">
						<span class="feed-name">Vmg</span>
					</div>
				</a>
			</li>
            <li class="bg-primary">
				<a href="">
					<div>
						<img src="~/images/feed/24.svg">
						<span class="feed-name">Imperial Auto</span>
					</div>
				</a>
			</li>
            <li class="bg-secondary">
				<a href="">
					<div>
						<img src="~/images/feed/25.svg">
						<span class="feed-name">Auto Fuzion</span>
					</div>
				</a>
			</li>
            <li class="bg-warning">
				<a href="">
					<div>
						<img src="~/images/feed/26.svg">
						<span class="feed-name">Mascus Exports</span>
					</div>
				</a>
			</li>
            <li class="bg-danger">
				<a href="">
					<div>
						<img src="~/images/feed/27.svg">
						<span class="feed-name">Dunquip</span>
					</div>
				</a>
			</li>
            <li class="bg-success">
				<a href="">
					<div>
						<img src="~/images/feed/28.svg">
						<span class="feed-name">Autoxloo</span>
					</div>
				</a>
			</li>
            <li class="bg-info">
				<a href="">
					<div>
						<img src="~/images/feed/29.svg">
						<span class="feed-name">IX Trucks</span>
					</div>
				</a>
			</li>
            <li class="bg-dark">
				<a href="">
					<div>
						<img src="~/images/feed/30.svg">
						<span class="feed-name">ClearAsset</span>
					</div>
				</a>
			</li>
            <li class="bg-facebook">
				<a href="">
					<div>
						<img src="~/images/feed/31.svg">
						<span class="feed-name">Integra</span>
					</div>
				</a>
			</li>
            <li class="bg-twitter">
				<a href="">
					<div>
						<img src="~/images/feed/32.svg">
						<span class="feed-name">IX New</span>
					</div>
				</a>
			</li>
			
		</ul>
		
		
		
		<div class="text-center">
			<p class="mx-auto"><a href="">Show all Feeds</a></p>
			<p class="mx-auto">Couldn't find what you were looking for? <a href="">Suggest a new Feed!</a></p>
		</div>
	</div>
</section>


<section class="section bg-light">
	<div class="container-max px-4">
		<div class="row mb-4">
			<div class="col text-center">
				<h1 class="display-4">Connect to Toyota</h1>
				<div class="badge badge-pill badge-secondary mx-auto">Step 2 of 5</div>
				<p class="mx-auto lead mt-4">Connect Toyota to sync stock across services.</p>
				<h4 class="text-center">API Url</h4>
				<div class="large-input">
					<input type="text" class="form-control" id="" placeholder="https://...">
				</div>
				<a href="" class="btn btn-primary btn-lg mt-2" data-toggle="modal" data-target="#connectModal">Connect</a>
			</div>
		</div>
	</div>
</section>

<div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Connect to Toyota</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        	<img src="~/images/feed/toyota.svg" width="250px;">
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary mx-auto">Connect</button>
      </div>
    </div>
  </div>
</div>


<section class="section">
	<div class="container-max px-4">
		<div class="row mb-4">
			<div class="col text-center">
				<h1 class="display-4">Type of integration</h1>
				<div class="badge badge-pill badge-secondary mx-auto">Step 3 of 5</div>
			</div>
		</div>
		
		<div class="wizard-card mb-4">

            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Overwrite all data of Merchant">
                <input type="radio" name="integrateRadios" id="integrateRadio1" value="option1">
                <div class="icon">
                    <i class="fa fa-stack-overflow"></i>
                    <h6>Overwrite</h6>
                </div>
            </div>

            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Merch with merchant's feed">
                <input type="radio" name="integrateRadios" id="integrateRadio2" value="option2">
                <div class="icon">
                    <i class="fa fa-object-ungroup"></i>
                    <h6>Merge</h6>
                </div>
            </div>

            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Another option details">
                <input type="radio" name="integrateRadios" id="integrateRadio3" value="option3">
                <div class="icon">
                    <i class="fa fa-random"></i>
                    <h6>Migrate</h6>
                </div>
            </div>

            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Another option details">
                <input type="radio" name="integrateRadios" id="integrateRadio4" value="option4">
                <div class="icon">
                    <i class="fa fa-plus"></i>
                    <h6>Add</h6>
                </div>
            </div>

            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Another option details">
                <input type="radio" name="integrateRadios" id="integrateRadio5" value="option5">
                <div class="icon">
                    <i class="fa fa-refresh"></i>
                    <h6>Update</h6>
                </div>
            </div>
   
            <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Another option details">
                <input type="radio" name="integrateRadios" id="integrateRadio6" value="option6">
                <div class="icon">
                    <i class="fa fa-info"></i>
                    <h6>Import</h6>
                </div>
            </div>
       
        </div>
	
	</div>
</section>




<section class="section" id="merchantFeed">
	<div class="container-max px-4">
		<div class="row mb-4">
			<div class="col text-center">
				<h1 class="display-4">Connect Toyota with</h1>
				<div class="badge badge-pill badge-secondary mx-auto">Step 4 of 5</div>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col text-center">
				<div class="search">
					<input type="text" class="form-control" id="" placeholder="Search Merchants...">
				</div>
			</div>
		</div>
		
		<ul class="list">
			<li class="bg-facebook">
				<a href="">
					<div>
						<img src="~/images/feed/ix.svg">
						<span class="feed-name">IX</span>
					</div>
				</a>
			</li>
			<li class="bg-secondary">
				<a href="">
					<div>
						<img src="~/images/feed/automart.svg">
						<span class="feed-name">Auto Mart</span>
					</div>
				</a>
			</li>
			<li class="bg-warning">
				<a href="">
					<div>
						<img src="~/images/feed/3.svg">
						<span class="feed-name">Truck and Trailer</span>
					</div>
				</a>
			</li>
			<li class="bg-danger">
				<a href="">
					<div>
						<img src="~/images/feed/4.svg">
						<span class="feed-name">Auto Trader</span>
					</div>
				</a>
			</li>
			<li class="bg-info">
				<a href="">
					<div>
						<img src="~/images/feed/5.svg">
						<span class="feed-name">Gumtree</span>
					</div>
				</a>
			</li>
			<li class="bg-dark">
				<a href="">
					<div>
						<img src="~/images/feed/6.svg">
						<span class="feed-name">OLX</span>
					</div>
				</a>
			</li>
			<li class="bg-facebook">
				<a href="">
					<div>
						<img src="~/images/feed/7.svg">
						<span class="feed-name">Just sell it</span>
					</div>
				</a>
			</li>
			<li class="bg-google">
				<a href="">
					<div>
						<img src="~/images/feed/8.svg">
						<span class="feed-name">Junk Mail</span>
					</div>
				</a>
			</li>
			<li class="bg-dribbble">
				<a href="">
					<div>
						<img src="~/images/feed/9.svg">
						<span class="feed-name">CMH</span>
					</div>
				</a>
			</li>
			<li class="bg-primary">
				<a href="">
					<div>
						<img src="~/images/feed/10.svg">
						<span class="feed-name">Auto SLM</span>
					</div>
				</a>
			</li>
			
            <li style="background: #fb7121">
				<a href="">
					<div>
						<img src="~/images/feed/mascus.svg">
						<span class="feed-name">Mascus</span>
					</div>
				</a>
			</li>
            <li class="bg-pinterest">
				<a href="">
					<div>
						<img src="~/images/feed/13.svg">
						<span class="feed-name">Car Find</span>
					</div>
				</a>
			</li>
            <li class="bg-google">
				<a href="">
					<div>
						<img src="~/images/feed/14.svg">
						<span class="feed-name">Barloworld</span>
					</div>
				</a>
			</li>
            <li class="bg-linkedin">
				<a href="">
					<div>
						<img src="~/images/feed/15.svg">
						<span class="feed-name">Barloworld Commercial</span>
					</div>
				</a>
			</li>
            <li class="bg-dribbble">
				<a href="">
					<div>
						<img src="~/images/feed/16.svg">
						<span class="feed-name">Call a Car</span>
					</div>
				</a>
			</li>
            <li class="bg-github">
				<a href="">
					<div>
						<img src="~/images/feed/17.svg">
						<span class="feed-name">Imperial Select</span>
					</div>
				</a>
			</li>
            <li class="bg-youtube">
				<a href="">
					<div>
						<img src="~/images/feed/18.svg">
						<span class="feed-name">Vehicle Traders</span>
					</div>
				</a>
			</li>
            <li class="bg-reddit">
				<a href="">
					<div>
						<img src="~/images/feed/20.svg">
						<span class="feed-name">Hyundai</span>
					</div>
				</a>
			</li>
            <li class="bg-tumblr">
				<a href="">
					<div>
						<img src="~/images/feed/21.svg">
						<span class="feed-name">Carshop Hub</span>
					</div>
				</a>
			</li>
            <li class="bg-behance">
				<a href="">
					<div>
						<img src="~/images/feed/22.svg">
						<span class="feed-name">Dealer Stock Control</span>
					</div>
				</a>
			</li>
            <li class="bg-black">
				<a href="">
					<div>
						<img src="~/images/feed/23.svg">
						<span class="feed-name">Vmg</span>
					</div>
				</a>
			</li>
            <li class="bg-primary">
				<a href="">
					<div>
						<img src="~/images/feed/24.svg">
						<span class="feed-name">Imperial Auto</span>
					</div>
				</a>
			</li>
            <li class="bg-secondary">
				<a href="">
					<div>
						<img src="~/images/feed/25.svg">
						<span class="feed-name">Auto Fuzion</span>
					</div>
				</a>
			</li>
            <li class="bg-warning">
				<a href="">
					<div>
						<img src="~/images/feed/26.svg">
						<span class="feed-name">Mascus Exports</span>
					</div>
				</a>
			</li>
            <li class="bg-danger">
				<a href="">
					<div>
						<img src="~/images/feed/27.svg">
						<span class="feed-name">Dunquip</span>
					</div>
				</a>
			</li>
            <li class="bg-success">
				<a href="">
					<div>
						<img src="~/images/feed/28.svg">
						<span class="feed-name">Autoxloo</span>
					</div>
				</a>
			</li>
            <li class="bg-info">
				<a href="">
					<div>
						<img src="~/images/feed/29.svg">
						<span class="feed-name">IX Trucks</span>
					</div>
				</a>
			</li>
            <li class="bg-dark">
				<a href="">
					<div>
						<img src="~/images/feed/30.svg">
						<span class="feed-name">ClearAsset</span>
					</div>
				</a>
			</li>
            <li class="bg-facebook">
				<a href="">
					<div>
						<img src="~/images/feed/31.svg">
						<span class="feed-name">Integra</span>
					</div>
				</a>
			</li>
            <li class="bg-twitter">
				<a href="">
					<div>
						<img src="~/images/feed/32.svg">
						<span class="feed-name">IX New</span>
					</div>
				</a>
			</li>
		</ul>
		
		<h4 class="text-center">Find by industry/category</h4>
		
		<div class="industries">
			<div><a href="">Agriculture and Mining</a></div>
			<div><a href="">Business Services</a></div>
			<div><a href="">Computer and Electronics</a></div>
			<div><a href="">Consumer Services</a></div>
			<div><a href="">Education</a></div>
			<div><a href="">Energy and Utilities</a></div>
			<div><a href="">Financial Services</a></div>
			<div><a href="">Government</a></div>
			<div><a href="">Health, Pharmaceuticals, and Biotech</a></div>
			<div><a href="">Manufacturing</a></div>
			<div><a href="">Media and Entertainment</a></div>
			<div><a href="">Non-profit</a></div>
			<div><a href="">Real Estate and Construction</a></div>
			<div><a href="">Retail</a></div>
			<div><a href="">Automobile Dealers</a></div>
			<div><a href="">Software and Internet</a></div>
			<div><a href="">Telecommunications</a></div>
			<div><a href="">Transportation and Storage</a></div>
			<div><a href="">Travel Recreation and Leisure</a></div>
			<div><a href="">Wholesale and Distribution</a></div>
		</div>
		
		<div class="text-center">
			<p class="mx-auto"><a href="">Show all Merchants</a></p>
			<p class="mx-auto">Couldn't find what you were looking for? <a href="">Suggest a new Merchants!</a></p>
		</div>
	</div>
</section>


<section class="section bg-light">
	<div class="container-max px-4">
		<div class="row mb-4">
			<div class="col text-center">
				<h1 class="display-4">Review and finish</h1>
				<div class="badge badge-pill badge-secondary mx-auto">Step 5 of 5</div>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-md-6 mx-auto text-center">
				<div class="card mb-4">
					<div class="card-body">
						<div class="grid mx-auto">
							<div class="step customer">
								<div class="label" style="background: #fb7121;border-color: #fb7121" data-toggle="tooltip" data-placement="top" title="Mascus">
									<img src="~/images/feed/mascus.svg">
								</div>
							</div>
							<div class="step integrate">
								<div class="label border-primary" data-toggle="tooltip"></div>
							</div>
							<div class="step merchant">
								<div class="label" style="background: #cc2229;border-color: #cc2229" data-toggle="tooltip" data-placement="top" title="Toyota">
									<img src="~/images/feed/toyota.svg">
								</div>
							</div>
						</div>
					</div>
				</div>
				
				
				<a class="btn btn-primary btn-big" href="">Finish</a>
				
			</div>
		</div>
	</div>
</section>




@section Scripts {
	<script src="~/js/list.min.js"></script>
	<script>
		var options = {
		  valueNames: [ 'feed-name' ]
		};
		var userList = new List('searchFeed', options);
	</script>
	<script>
		var options = {
		  valueNames: [ 'feed-name' ]
		};
		var userList = new List('merchantFeed', options);
	</script>
	<script src="~/js/typeahead.jquery.min.js"></script>
	<script src="~/js/typeahead.config.js"></script>
	<script>
		$('[data-toggle="wizard-radio"]').click(function(){
	        wizard = $(this).closest('.wizard-card');
	        wizard.find('[data-toggle="wizard-radio"]').removeClass('active');
	        $(this).addClass('active');
	        $(wizard).find('[type="radio"]').removeAttr('checked');
	        $(this).find('[type="radio"]').attr('checked','true');
	    });
	</script>
}
