@{
    ViewData["Title"] = "Chevrolet Account";
}

<section class="section pt-0">
	<div class="container-fluid">
		<div class="row mb-4">
			<div class="col-9">
				<h2 class="display-4">@ViewData["Title"] <a href="javascript:void(0)">18</a></h2>
				<div class="dropdown">
				  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Switch Account
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="/lexus-account">Lexus</a>
				    <a class="dropdown-item" href="/ford-account">Ford</a>
				    <a class="dropdown-item" href="/toyota-account">Toyota</a>
				  </div>
				</div>
			</div>
			<div class="col-3 align-self-center text-right">
				<a href="/create-feed" class="btn btn-primary">Create a feed</a>
			</div>
		</div>
		
		<div id="searchFeed" class="mb-4">
			<ul class="list">
				<li>
					<a href="javascript:void(0)" id="ChevroletFeed">
						<div>
							<img src="/images/feed/chevrolet.svg">
							<span class="feed-name">Barloworld Chevrolet Menlyn</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" id="ChevroletFeed">
						<div>
							<img src="/images/feed/chevrolet.svg">
							<span class="feed-name">McCarthy Chevrolet Lynnwood</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" id="ChevroletFeed">
						<div>
							<img src="/images/feed/chevrolet.svg">
							<span class="feed-name">McCarthy Chevrolet Hatfield</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" id="ChevroletFeed">
						<div>
							<img src="/images/feed/chevrolet.svg">
							<span class="feed-name">McCarthy Chevrolet Centurion</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" id="ChevroletFeed">
						<div>
							<img src="/images/feed/chevrolet.svg">
							<span class="feed-name">McCarthy Chevrolet Edenvale</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		
		
		
		<div class="card mb-4">
			<h3 class="card-header bg-white">Dealerships</h3>
			<div class="py-4">
				<table id="MainTable" class="table table-sm table-hover">
					<thead class="thead-dark">
						<tr>
							<th>Dealership Name</th>
							<th>Dealership ID</th>
							<th>No. Image</th>
							<th>Used Vehicle Stock ID</th>
						</tr>
					</thead>
					<tbody>
					  
					  <tr>
						  <td>Auto Ren Chevrolet</td>
					    <td>259</td>
					    <td>12</td>
					    <td>218</td>
					  </tr>
					  <tr>
						  <td>Imperial Chevrolet City</td>
					    <td>47</td>
					    <td>13</td>
					    <td>203</td>
					  </tr>
					  <tr>
						  <td>Killarney Chevrolet</td>
					    <td>805</td>
					    <td>14</td>
					    <td>933</td>
					  </tr>
					  <tr>
						  <td>Southern Chevrolet</td>
					    <td>409</td>
					    <td>15</td>
					    <td>955</td>
					  </tr>
					  <tr>
						  <td>Fury Chevrolet</td>
					    <td>535</td>
					    <td>16</td>
					    <td>877</td>
					  </tr>
					  <tr>
						  <td>Imperial Chevrolet Bedfordview</td>
					    <td>773</td>
					    <td>17</td>
					    <td>764</td>
					  </tr>
					  <tr>
						  <td>McCarthy Chevrolet Midrand</td>
					    <td>303</td>
					    <td>18</td>
					    <td>330</td>
					  </tr>
					  <tr>
						  <td>Nic Bottari Chevrolet</td>
					    <td>665</td>
					    <td>19</td>
					    <td>947</td>
					  </tr>
					  <tr>
						  <td>Halfway Chevrolet Honeydew</td>
					    <td>200</td>
					    <td>20</td>
					    <td>434</td>
					  </tr>
					  <tr>
						  <td>Soweto Chevrolet</td>
					    <td>856</td>
					    <td>21</td>
					    <td>868</td>
					  </tr>
					  <tr>
						  <td>Freeway Chevrolet</td>
					    <td>890</td>
					    <td>22</td>
					    <td>403</td>
					  </tr>
					  <tr>
						  <td>Imperial Chevrolet Parktown</td>
					    <td>369</td>
					    <td>23</td>
					    <td>108</td>
					  </tr>
					  <tr>
						  <td>Barloworld Chevrolet Menlyn</td>
					    <td>81</td>
					    <td>24</td>
					    <td>395</td>
					  </tr>
					  <tr>
						  <td>McCarthy Chevrolet Arcadia</td>
					    <td>736</td>
					    <td>25</td>
					    <td>670</td>
					  </tr>
					  <tr>
						  <td>McCarthy Chevrolet Gezina</td>
					    <td>980</td>
					    <td>26</td>
					    <td>165</td>
					  </tr>
					  <tr>
						  <td>McCarthy Chevrolet Sinoville</td>
					    <td>650</td>
					    <td>27</td>
					    <td>652</td>
					  </tr>
					  <tr>
						  <td>Pretoria Noord Chevrolet</td>
					    <td>213</td>
					    <td>28</td>
					    <td>579</td>
					  </tr>
					  <tr>
						  <td>Imperial Chevrolet Randburg</td>
					    <td>912</td>
					    <td>29</td>
					    <td>240</td>
					  </tr>
					</tbody>
				</table>
			</div>
		</div>
		
		
		<div class="card mb-4">
			<div class="card-body">
				<h5>Different URL calls</h5>
				<ul>
					<li>Dealership: <small class="badge badge-secondary">DealershipID_PK</small> - <a href="">https://{{serverURL}}/Dealerships/</a></li>
					<li>Used Vehicle Stock: <small class="badge badge-secondary">UsedVehicleStock</small> - <a href="">https://{{serverURL}}/UsedVehicleStock?DealershipID_FK={{use DealershipID_PK from Dealerships call}}</a></li>
					<li>Stock Images: <small class="badge badge-secondary">UsedVehicleStock/Image</small> - <a href="">https://{{serverURL}}/UsedVehicleStock/Image/{{EncImage retrieved per stock item per image}}</a></li>
				</ul>
				<div><b>Note:</b> Downloading of images will only be permitted between <b>1:00 and 2:00</b> in the mornings (GMT+2)</div>
			</div>
		</div>
	
	</div>
</section>


@section Scripts {
	<script src="~/js/jquery.dataTables.min.js"></script>
	<script src="~/js/dataTables.bootstrap4.min.js"></script>
	<script>
		$(document).ready(function(){
		    $('#MainTable').DataTable(
			    {
				    "paging":   true,
			        "ordering": true,
			        "info":     true,
			        "filter":   true,
			        "aoColumns":   [
				        { "bSortable": true },
				        { "bSortable": true },
				        { "bSortable": true },
				        { "bSortable": true }
			        ]
			    }
		    );
		});
	</script>
}