@{
    ViewData["Title"] = "New Feed Setup";
}



	<section id="searchFeed">
		<div class="container-max px-4">
			
			
			<div class="row mb-4">
				<div class="col text-center">
					<h1 class="display-4">1st Ingredient</h1>
					<div class="badge badge-pill badge-secondary mx-auto">Step 1 of 2</div>
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-md-6 text-center mb-2">
					<div class="search mb-3">
						<input type="text" class="form-control" id="" placeholder="search accounts...">
					</div>
				</div>
				<div class="col-md-6 text-center mb-2">
					<div class="paste mb-3">
						<input type="text" class="form-control" id="" placeholder="api url...">
					</div>
				</div>
			</div>
			
			<ul class="list">
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Mascus.svg">
							<span class="feed-name">Mascus</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/IX.svg">
							<span class="feed-name">IX</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/toyota.svg">
							<span class="feed-name">Toyota</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Car-Find.svg">
							<span class="feed-name">Car Find</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Barloworld.svg">
							<span class="feed-name">Barloworld</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Barloworld.svg">
							<span class="feed-name">Barloworld Commercial</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Call-a-Car.svg">
							<span class="feed-name">Call a Car</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Imperial-Select.svg">
							<span class="feed-name">Imperial Select</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Vehicle-Traders.svg">
							<span class="feed-name">Vehicle Traders</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Auto-SLM.svg">
							<span class="feed-name">Auto SLM</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Hyundai.svg">
							<span class="feed-name">Hyundai</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Carshop-Hub.svg">
							<span class="feed-name">Carshop Hub</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/DealerStockControl.svg">
							<span class="feed-name">DealerStockControl</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Vmg.svg">
							<span class="feed-name">Vmg</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Imperial-Auto.svg">
							<span class="feed-name">Imperial Auto</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Auto-Fuzion.svg">
							<span class="feed-name">Auto Fuzion</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Mascus.svg">
							<span class="feed-name">Mascus Exports</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Dunquip.svg">
							<span class="feed-name">Dunquip</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Autoxloo.svg">
							<span class="feed-name">Autoxloo</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/IX.svg">
							<span class="feed-name">IX Trucks</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/ClearAsset.svg">
							<span class="feed-name">ClearAsset</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Integra.svg">
							<span class="feed-name">Integra</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/IX.svg">
							<span class="feed-name">IX New</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Junk-Mail.svg">
							<span class="feed-name">Junk Mail</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Gumtree.svg">
							<span class="feed-name">Gumtree</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/OLX.svg">
							<span class="feed-name">OLX</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/AutoMart.svg">
							<span class="feed-name">Auto Mart</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<div>
							<img src="/images/feed/Truck-and-Trailer.svg">
							<span class="feed-name">Truck and Trailer</span>
						</div>
					</a>
				</li>
			</ul>
			
			<h4 class="text-center">Find by industry/category</h4>
			
			<div class="industries">		
 				<div><a href="">Agriculture and Mining</a></div>		
 				<div><a href="">Business Services</a></div>		
 				<div><a href="">Computer and Electronics</a></div>		
 				<div><a href="">Consumer Services</a></div>		
 				<div><a href="">Education</a></div>		
 				<div><a href="">Energy and Utilities</a></div>		
 				<div><a href="">Financial Services</a></div>		
 			    <div><a href="">Government</a></div>		
 				<div><a href="">Health, Pharmaceuticals, and Biotech</a></div>		
 				<div><a href="">Manufacturing</a></div>		
 				<div><a href="">Media and Entertainment</a></div>		
 				<div><a href="">Non-profit</a></div>		
 				<div><a href="">Real Estate and Construction</a></div>		
 				<div><a href="">Retail</a></div>		
 				<div><a href="">Automobile Dealers</a></div>		
 				<div><a href="">Software and Internet</a></div>		
 				<div><a href="">Telecommunications</a></div>		
 				<div><a href="">Transportation and Storage</a></div>		
 				<div><a href="">Travel Recreation and Leisure</a></div>		
 				<div><a href="">Wholesale and Distribution</a></div>		
 			</div>
			
			<div class="text-center">
				<p class="mx-auto"><a href="javascript:void(0)">Show all Connections</a></p>
				<p class="mx-auto">Couldn't find what you were looking for? <a href="javascript:void(0)">Suggest a new Service!</a></p>
			</div>
		</div>
	</section>
	
	<section id="connectHere" class="d-none">
		<div class="container-max px-4">
			<button type="button" class="btn btn-outline-secondary btn-round" id="backToSearch"><i class="fa fa-chevron-left"></i> Back</button>
			<div class="row mb-4">
				<div class="col text-center">
					<h1 class="display-4">Connect to Blend</h1>
					<div class="badge badge-pill badge-secondary mx-auto">Step 2 of 2</div>
					<p class="mx-auto lead mt-4">Connect account to sync stock across services.</p>
					<h4 class="text-center">Account URL</h4>
					<div class="large-input mb-4">
						<input type="text" class="form-control" id="" placeholder="https://...">
					</div>
					<h4 class="text-center">Dealer ID</h4>
					<div class="large-input mb-4">
						<input type="text" class="form-control" id="" placeholder="id...">
					</div>
					<h4 class="text-center">Log in</h4>
					<div class="large-input mb-4">
						<input type="text" class="form-control mb-2" id="" placeholder="username...">
						<input type="text" class="form-control" id="" placeholder="password...">
					</div>
					<a href="javascript:void(0)" class="btn btn-primary btn-big mt-2" id="connectThis">Connect</a>
				</div>
			</div>
		</div>
	</section>




@section Scripts {
	<script src="~/js/list.min.js"></script>
	<script>
		var options = {
		  valueNames: [ 'feed-name' ]
		};
		var userList = new List('searchFeed', options);
	</script>
	<script src="~/js/typeahead.jquery.min.js"></script>
	<script src="~/js/typeahead.config.js"></script>
	
	
	<script>
		$('#searchFeed a').click( function() {
		    $('#connectHere').removeClass('d-none')
		    $('#searchFeed').addClass('d-none')
		});
		
		$('#backToSearch').click( function() {
		    $('#connectHere').addClass('d-none')
		    $('#searchFeed').removeClass('d-none')
		});
	</script>
	
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
}
