@{
    ViewData["Title"] = "Dashboard";
}

<section class="section">
	<div class="container">
		<div class="d-flex">
			<div class="mr-auto">
				<h2>Hi User</h2>
				<p>Welcome back to your account dashboard. Check out these performance statistics and personalised tips from Feeder.</p>
			</div>
			<div>
				<a href="/add-feed" class="btn btn-primary">Create Feed</a>
			</div>
		</div>
	</div>
</section>

<div class="p-4 bg-light">
	<h4>Dashboard</h4>
	<ul>
		<li>Feed Activity/Health</li>
		<li>Indicate any changes</li>
		<li>Stats for first feed - Can switch</li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>


@section Scripts {

}
