@{
    ViewData["Title"] = "Dashboard";
}

<style>
.myChartDiv {
	max-width: 600px;
	max-height: 300px;
}
</style>

<section class="section">
	<div class="container">
		<div class="row mb-4">
			<div class="col-md-8">
				<h2 class="display-4">Hi Morne</h2>
				<p>Welcome back to your account dashboard. Check out these performance statistics and personalised tips from Feeder.</p>
			</div>
			<div class="col-md-4 text-right">
				<a href="/add-feed" class="btn btn-primary"><i class="fa fa-plus"></i> Create Feed</a>
			</div>
		</div>

		<div class="row mb-4">
			<div class="col-md-12">
				<h4>Latest Feed: <a href="/feed">IX</a></h4>
			</div>
			<div class="col-md-6">
				<div class="card mb-4 border-success">
					<div class="card-body">
						
						<div class="grid mx-auto">
							<div class="step customer">
								<div class="label border-success" data-toggle="tooltip" data-placement="top" title="McCarthy"></div>
							</div>
							<div class="step integrate">
								<div class="label border-primary" data-toggle="tooltip"></div>
							</div>
							<div class="step merchant">
								<div class="label border-success" data-toggle="tooltip" data-placement="top" title="IX"></div>
							</div>
						</div>
					</div>
					<div class="card-footer status text-dark">
						<i class="fa fa-circle text-success"></i> Active
						<span class="pull-right">Updated on <b>20 Nov 2017 10:48 am</b></span>
					</div>
				</div>
				
				<div class="card mb-4 border-danger">
					<div class="card-body">
						
						<div class="grid mx-auto">
							<div class="step customer">
								<div class="label border-success" data-toggle="tooltip" data-placement="top" title="McCarthy"></div>
							</div>
							<div class="step integrate">
								<div class="label border-primary" data-toggle="tooltip"></div>
							</div>
							<div class="step merchant invalid">
								<div class="label border-danger" data-toggle="tooltip" data-placement="top" title="CMH"></div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<a href="" class="badge badge-pill badge-danger"><i class="fa fa-exclamation-circle"></i> View Errors</a>
						<span class="pull-right">Started on <b>20 Nov 2017 10:48 am</b></span>
					</div>
				</div>
				
			</div>
			<div class="col-md-3">
				<h6>Add a new feed</h6>
				<a href="/add-feed" class="btn btn-light">Add new feed</a>
			</div>
			<div class="col-md-3">
				<h6>View your Feeds</h6>
				<a href="/feeds" class="btn btn-light">View all feeds</a>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a class="nav-link ml-4 active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Feed Overview</a></li>
					<li class="nav-item"><a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">Feed Activity</a></li>
					<li class="nav-item"><a class="nav-link" id="activity-tab" data-toggle="tab" href="#errors" role="tab" aria-controls="errors" aria-selected="false">Feed Errors (only if any)</a></li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
						
						<h4 class="mt-4">Feed Overview</h4>
						
						
					</div>
					<div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
						
						
						<div class="d-flex my-4">
							<div class="mr-auto">
								<h4 >Changes</h4>
							</div>
							<div class="d-none d-md-block">
								<select class="custom-select">
									<option selected="">Past 7 days</option>
									<option value="1">Past 30 days</option>
									<option value="2">Past year</option>
								</select>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<h3><a href="/feed">29</a></h3>
								<div>Feed Changes (past 7 days)</div>
								<a href="/feed" class="btn btn-secondary mt-4">View feed changes</a>
							</div>
							<div class="col-md-6">
								<div class="myChartDiv">
					                <canvas id="chartXI"></canvas>
				                </div>
							</div>
						</div>
						
					</div>
					<div class="tab-pane fade" id="errors" role="tabpanel" aria-labelledby="activity-tab">
						
						<h4 class="mt-4">Error in Feed</h4>
						
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
</section>



@section Scripts {
<script src="~/js/chart.bundle.js"></script>
<script>
	var ctx = document.getElementById("chartXI").getContext('2d');
	var myChart = new Chart(ctx, {
	  type: 'doughnut',
	  data: {
	    datasets: [{
	      data: [9, 4, 14, 2],
	      backgroundColor: ['#6f42c1', '#007bff', '#20c997', '#6610f2'],
	      borderWidth: 0,
	      label: 'Dataset 1'
	    }],
	    labels: ['Lynnwood', 'Hatfield', 'New Cars', 'Spares']
	  },
	  options: {
	    title: {
	      display: false,
	      text: 'Feed Changes'
	    },
	    legend: {
		  display: true,
		  position: 'right'
		},
	    responsive: true
	  }
	});
</script>
}
