@{
    ViewData["Title"] = "Dashboard";
}

<style>
.myChartDiv {
	max-width: 600px;
	max-height: 300px;
}
</style>

<section class="section pt-0">
	<div class="container-fluid">
		<div class="row mb-4">
			<div class="col">
				<h2 class="display-4">Hi, Morne</h2>
				<div class="badge badge-pill badge-secondary">Latest changes and updates</div>
				<p class="lead mt-4">Welcome back to your account dashboard. Check out these performance statistics and personalised tips from Feeder.</p>
			</div>
		</div>
		
		<div class="row mb-4">
			<div class="col-md-12">
				<h4>Latest Feed: <a href="/feeds">ToyotaLynnwood-AutoMart</a></h4>
			</div>
			<div class="col-md-5">
				
				
				<div class="card mb-4">
					<div class="card-body">
						
						<div class="connection syncing mx-auto">
							<div class="connect-from" data-toggle="tooltip" data-placement="top" title="Toyota Lynnwood">
								<img src="~/images/feed/toyota-badge.svg">
							</div>
							<div class="connect-how" data-toggle="tooltip" data-placement="top" title="Use Latest">
								<i class="fa fa-clock"></i>
							</div>
							<div class="connect-to" data-toggle="tooltip" data-placement="top" title="Auto Mart">
								<img src="~/images/feed/automart-badge.svg">
							</div>
						</div>
						
					</div>
					<div class="card-footer">
						<a href="/feeds" class="badge badge-pill badge-secondary"><i class="fa fa-sync fa-spin"></i> Syncing at 83%</a>
						<span class="float-right">Created on <b>Dec 13, 2017 9:48 am</b></span>
					</div>
				</div>
				
			</div>
			<div class="col-md-2 ml-auto">
				<h6>Add new Account</h6>
				<a href="/create-feed" class="btn btn-secondary">Add new account</a>
			</div>
			<div class="col-md-2">
				<h6>Add new feed</h6>
				<a href="/feeds" class="btn btn-secondary">Add new feed</a>
			</div>
			<div class="col-md-2">
				<h6>View all feeds</h6>
				<a href="/feeds" class="btn btn-secondary">View all feeds</a>
			</div>
		</div>
		
		
		<div class="card mb-4">
			<div class="card-body">
				<ul class="mb-0">
					<li>Main API: <b>Britehouse</b> - <div class="badge badge-pill badge-warning">State of API</div></li>
					<li>Latest Account - <b>Bidvest McCarthy Toyota</b> - Last requested: <b>Dec 11, 2017 11:48 am</b> - <div class="badge badge-pill badge-success">200 - Successful requests</div> or <div class="badge badge-pill badge-danger">404 - Resource not found</div></li>
					<li>Latest Feed - <b>ToyotaLynnwood-AutoMart</b> - <div class="badge badge-pill badge-secondary"><i class="fa fa-sync fa-spin"></i> Syncing at 83%</div> or <div class="badge badge-pill badge-danger"><i class="fa fa-exclamation-circle"></i> Error at 52%</div> or <div class="badge badge-pill badge-success"><i class="fa fa-check-circle"></i> Feed Active</div></li>
					<li>Feed Activity - <b>4 Changes</b></li>
					<li>Account Stats - <b></b></li>
					<li>Feed Stats - <b></b></li>
				</ul>
			</div>
		</div>
		
<!--
		<div class="row">
			<div class="col">
				
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a class="nav-link ml-4 active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Feed Overview</a></li>
					<li class="nav-item"><a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">Feed Activity</a></li>
					<li class="nav-item"><a class="nav-link" id="activity-tab" data-toggle="tab" href="#errors" role="tab" aria-controls="errors" aria-selected="false">Feed Errors (only if any)</a></li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
						
						<h4 class="mt-4">Feed Overview</h4>
						
						
					</div>
					<div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">
						
						
						<div class="d-flex my-4">
							<div class="mr-auto">
								<h4 >Changes</h4>
							</div>
							<div class="d-none d-md-block">
								<select class="custom-select">
									<option selected="">Past 7 days</option>
									<option value="1">Past 30 days</option>
									<option value="2">Past year</option>
								</select>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<h3><a href="/feed">29</a></h3>
								<div>Feed Changes (past 7 days)</div>
								<a href="/feed" class="btn btn-secondary mt-4">View feed changes</a>
							</div>
							<div class="col-md-6">
								<div class="myChartDiv">
					                <canvas id="chartXI"></canvas>
				                </div>
							</div>
						</div>
						
					</div>
					<div class="tab-pane fade" id="errors" role="tabpanel" aria-labelledby="activity-tab">
						
						<h4 class="mt-4">Error in Feed</h4>
						
					</div>
				</div>
				
			</div>
		</div>
-->

		
	</div>
</section>



@section Scripts {
<script src="~/js/chart.bundle.js"></script>
<script>
	var ctx = document.getElementById("chartXI").getContext('2d');
	var myChart = new Chart(ctx, {
	  type: 'doughnut',
	  data: {
	    datasets: [{
	      data: [9, 4, 14, 2],
	      backgroundColor: ['#6f42c1', '#007bff', '#20c997', '#6610f2'],
	      borderWidth: 0,
	      label: 'Dataset 1'
	    }],
	    labels: ['Lynnwood', 'Hatfield', 'New Cars', 'Spares']
	  },
	  options: {
	    title: {
	      display: false,
	      text: 'Feed Changes'
	    },
	    legend: {
		  display: true,
		  position: 'right'
		},
	    responsive: true
	  }
	});
</script>
}
