@{
    ViewData["Title"] = "Dashboard";
}

<section class="section">
	<div class="container">
		<div class="row mb-4">
			<div class="col-md-8">
				<h2 class="display-4">Hi Werner</h2>
				<p>Welcome back to your account dashboard. Check out these performance statistics and personalised tips from Feeder.</p>
			</div>
			<div class="col-md-4 text-right">
				<a href="/add-feed" class="btn btn-primary">Create Feed</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h4>Your Feeds</h4>
			</div>
			<div class="col-md-4">
				<i class="fa fa-check text-success"></i>
			</div>
			<div class="col-md-4">
				<h6>Add a new feed</h6>
				<a href="/add-feed" class="btn btn-light">Add new feed</a>
			</div>
			<div class="col-md-4">
				<h6>View your Feeds</h6>
				<a href="/add-feed" class="btn btn-light">View active feeds</a>
			</div>
		</div>
		
	</div>
</section>

<div class="p-4 bg-light">
	<h4>Dashboard</h4>
	<ul>
		<li>Feed Activity/Health</li>
		<li>Indicate any changes</li>
		<li>Stats for first feed - Can switch</li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>


@section Scripts {

}
