@{
    ViewData["Title"] = "Dashboard";
}

<section class="section">
	<div class="container-max">
		<div class="row mb-4">
			<div class="col-md-8">
				<h2 class="display-4">Hi Marius</h2>
				<p>Welcome back to your account dashboard. Check out these performance statistics and personalised tips from Feeder.</p>
			</div>
			<div class="col-md-4 text-right">
				<a href="/add-feed" class="btn btn-primary"><i class="fa fa-plus"></i> Create Feed</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h4>Latest Feed: <span class="text-primary">IX</span></h4>
			</div>
			<div class="col-md-6">
				<div class="card mb-4 border-success">
					<div class="card-body">
						
						<div class="grid mx-auto">
							<div class="step customer">
								<div class="label border-success" data-toggle="tooltip" data-placement="top" title="McCarthy"></div>
							</div>
							<div class="step integrate">
								<div class="label border-primary" data-toggle="tooltip"></div>
							</div>
							<div class="step merchant">
								<div class="label border-success" data-toggle="tooltip" data-placement="top" title="IX"></div>
							</div>
						</div>
					</div>
					<div class="card-footer status text-dark">
						<i class="fa fa-circle text-success"></i> Active
						<span class="pull-right">Merged on <b>20 Nov 2017 10:48 am</b></span>
					</div>
				</div>
				
				<div class="card mb-4 border-danger d-none">
					<div class="card-body">
						
						<div class="grid mx-auto">
							<div class="step customer">
								<div class="label border-success" data-toggle="tooltip" data-placement="top" title="McCarthy"></div>
							</div>
							<div class="step integrate">
								<div class="label border-primary" data-toggle="tooltip"></div>
							</div>
							<div class="step merchant invalid">
								<div class="label border-danger" data-toggle="tooltip" data-placement="top" title="CMH"></div>
							</div>
						</div>
					</div>
					<div class="card-footer status text-dark">
						<a href="" class="badge badge-pill badge-danger"><i class="fa fa-exclamation-circle"></i> View Errors</a>
						<span class="pull-right">Started on <b>20 Nov 2017 10:48 am</b></span>
					</div>
				</div>
				
			</div>
			<div class="col-md-3">
				<h6>Add a new feed</h6>
				<a href="/add-feed" class="btn btn-light">Add new feed</a>
			</div>
			<div class="col-md-3">
				<h6>View your Feeds</h6>
				<a href="/feeds" class="btn btn-light">View all feeds</a>
			</div>
		</div>
		
	</div>
</section>



@section Scripts {

}
