@{
    ViewData["Title"] = "Feed Table";
}

<section class="section">
	
	<div class="container-fluid mb-4">
		<h2 class="display-4">IX Feed <a href="">1256</a></h2>
		<div class="dropdown">
			<button class="btn btn-secondary btn-sm btn-flat dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Switch List</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#">Used Cars</a>
				<a class="dropdown-item" href="#">Spares</a>
				<a class="dropdown-item" href="#">New Cars</a>
			</div>
		</div>
	</div>
	
	<table id="feedTable" class="table table-sm">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Category</th>
				<th>Stock #</th>
				<th>Brand</th>
				<th>Location</th>
				<th>Feeds</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><div>521</div></td>
				<td><div>HINO 57-450 PROFIA</div></td>
				<td><div>Truck Tractors</div></td>
				<td><div>RAVT101</div></td>
				<td><div>HINO</div></td>
				<td><div>PE</div></td>
				<td> </td>
				<td></td>
			</tr>
			<tr>
				<td><div>600</div></td>
				<td><div>MACNAY DIESEL BROOM</div></td>
				<td><div>Miscellaneous/Other</div></td>
				<td><div>TA4</div></td>
				<td><div>MACNAY</div></td>
				<td><div>GAUTENG</div></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td><div>672</div></td>
				<td><div>500 LITRE DIESEL BOWSER FORGEWELD TRAILER</div></td>
				<td><div>Pre-Owned</div></td>
				<td><div>SAEP55</div></td>
				<td><div>FORGEWELD</div></td>
				<td><div>BOKSBURG</div></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
		
</section>


@section Scripts {
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/dataTables.bootstrap4.min.js"></script>
<script>
	$(document).ready(function(){
	    $('#feedTable').DataTable(
		    {
			    "paging":   true,
		        "ordering": true,
		        "info":     true,
		        "filter":   true,
		        "aoColumns":   [
			        { "bSortable": true },
			        { "bSortable": true },
			        { "bSortable": true },
			        { "bSortable": true },
			        { "bSortable": true },
			        { "bSortable": true },
			        { "bSortable": false },
			        { "bSortable": false }
		        ]
		    }
	    );
	});
</script>
}

