@{
    ViewData["Title"] = "Manage Feeds";
}

<section id="feeds" class="section">
	<div class="container-max">
		<div class="d-flex mb-4">
			<div class="mr-auto">
				<h2>My Feeds</h2>
			</div>
			<div>
				<a href="/add-feed" class="btn btn-primary">Create a feed</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="fa fa-clock-o"></i> Recent</a>
					<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="fa fa-pencil"></i> Draft</a>
					<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="fa fa-braille"></i> Syncing</a>
					<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="fa fa-check"></i> Completed</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class="tab-content" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
					<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
					<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
					<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container-max">
		<div class="row mb-4">
			<div class="col text-center">
				<h1 class="display-2">My Feeds</h1>
				<a href="/search" class="btn btn-primary btn-round btn-flat btn-lg">Start a new Feed</a>
			</div>
		</div>
		
		<div class="row myFeeds">
			
			<div class="col-md-6">
				<div class="card mb-4 bg-secondary">
					<div class="card-body">
						
						<ul class="feed-legend mx-auto">
					        <li>Truck and Trailer</li>
					        <li>Add</li>
					        <li>IX</li>
						</ul>
						
						<div class="grid mx-auto">
							<div class="step customer">
								<div class="label"></div>
							</div>
							<div class="step integrate">
								<div class="label"></div>
							</div>
							<div class="step merchant invalid">
								<div class="label"></div>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
						</div>
					</div>
					<div class="card-footer status text-light">
						<i class="fa fa-circle text-light"></i> Off
						<span>Started on <b>24 Nov 2017</b></span>
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="card mb-4">
					<div class="card-body">
						
						<ul class="feed-legend mx-auto">
					        <li>Auto Mart</li>
					        <li>Merge</li>
					        <li>IX</li>
						</ul>
						
						<div class="grid mx-auto">
							<div class="step customer">
								<div class="label"></div>
							</div>
							<div class="step integrate">
								<div class="label"></div>
							</div>
							<div class="step merchant">
								<div class="label"></div>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
						</div>
					</div>
					<div class="card-footer status text-dark">
						<i class="fa fa-circle text-success"></i> Active
						<span>Merged on <b>20 Nov 2017</b></span>
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="card mb-4">
					<div class="card-body">
						
						<ul class="feed-legend mx-auto">
					        <li>Gumtree</li>
					        <li>Added</li>
					        <li>IX</li>
						</ul>
						
						<div class="grid mx-auto">
							<div class="step customer">
								<div class="label"></div>
							</div>
							<div class="step integrate">
								<div class="label"></div>
							</div>
							<div class="step merchant">
								<div class="label"></div>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
						</div>
					</div>
					<div class="card-footer status text-dark">
						<i class="fa fa-circle text-success"></i> Active
						<span>Added on <b>23 Nov 2017</b></span>
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="card mb-4">
					<div class="card-body">
						
						<ul class="feed-legend mx-auto">
					        <li>Junk Mail</li>
					        <li>Added</li>
					        <li>IX</li>
						</ul>
						
						<div class="grid mx-auto">
							<div class="step customer">
								<div class="label"></div>
							</div>
							<div class="step integrate">
								<div class="label"></div>
							</div>
							<div class="step merchant">
								<div class="label"></div>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
						</div>
					</div>
					<div class="card-footer status text-dark">
						<i class="fa fa-circle text-success"></i> Active
						<span>Added on <b>23 Nov 2017</b></span>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
</section>


<div class="p-4 bg-light">
	<h4>A Feed</h4>
	<ul>
		<li>My Feed - Integration - Merchant</li>
		<li>Progress</li>
		<li>Start Time</li>
		<li>Done Time</li>
	</ul>
</div>
