@{
    ViewData["Title"] = "Manage Feeds";
}

<section id="feeds" class="section">
	<div class="container-max">
		<div class="d-flex mb-4">
			<div class="mr-auto">
				<h2 class="display-4">My Feeds</h2>
			</div>
			<div class="align-self-center">
				<a href="/add-feed" class="btn btn-primary">Create a feed</a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="v-pills-recent-tab" data-toggle="pill" href="#v-pills-recent" role="tab" aria-controls="v-pills-recent" aria-selected="true"><i class="fa fa-clock-o"></i> Recent</a>
					<a class="nav-link" id="v-pills-syncing-tab" data-toggle="pill" href="#v-pills-syncing" role="tab" aria-controls="v-pills-syncing" aria-selected="false"><i class="fa fa-braille"></i> Syncing</a>
					<a class="nav-link" id="v-pills-complete-tab" data-toggle="pill" href="#v-pills-complete" role="tab" aria-controls="v-pills-complete" aria-selected="false"><i class="fa fa-check"></i> Active</a>
				</div>
			</div>
			<div class="col-md-10">
				
				<div class="d-flex mb-4">
					<div class="mr-auto">
						<input type="search" placeholder="Find feeds" class="form-control search-input">
					</div>
					<div class="d-none d-md-block">
						Sort by 
						<select class="custom-select">
							<option selected>Last Updated</option>
							<option value="1">Creation Date</option>
						</select>
					</div>
				</div>
				
				
				<div class="tab-content" id="v-pills-tabContent">
					<div class="tab-pane fade show active" id="v-pills-recent" role="tabpanel" aria-labelledby="v-pills-recent-tab">
						
						
						<table class="feedsTable table table-lg table-hover">
							<tbody>
								<tr>
									<td><input class="checkbox" type="checkbox" id="" value="option1"></td>
									<td>
										<h5><a href="/feed">CMH</a></h5>
										<div>Created <b>Jan 11, 2017 9:48 am</b></div>
									</td>
									<td>
										<div class="grid grid-sm">
											<div class="step customer invalid" data-toggle="tooltip" data-placement="top" title="McCarthy">
												<div class="label"></div>
											</div>
											<div class="step integrate">
												<div class="label"></div>
											</div>
											<div class="step merchant invalid" data-toggle="tooltip" data-placement="top" title="Auto SLM">
												<div class="label"></div>
											</div>
										</div>
									</td>
									<td>
										<h5><a href="/feed">3</a></h5>
										<div>Changes</div>
									</td>
									<td><div class="badge badge-pill badge-danger">Error at 12%</div></td>
									<td class="text-right">
										<div class="btn-group">
										  <a href="/feed" class="btn btn-danger">View Errors</a>
										  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    <span class="sr-only">Toggle Dropdown</span>
										  </button>
										  <div class="dropdown-menu dropdown-menu-right">
										    <a class="dropdown-item" href="#">Disable</a>
										    <a class="dropdown-item" href="#">Another</a>
										  </div>
										</div>
									</td>
								</tr>
								<tr>
									<td><input class="checkbox" type="checkbox" id="" value="option1"></td>
									<td>
										<h5><a href="/feed">Auto SLM</a></h5>
										<div>Created <b>Jan 11, 2017 9:48 am</b></div>
									</td>
									<td>
										<div class="grid grid-sm">
											<div class="step customer" data-toggle="tooltip" data-placement="top" title="McCarthy">
												<div class="label"></div>
											</div>
											<div class="step integrate">
												<div class="label"></div>
											</div>
											<div class="step merchant invalid" data-toggle="tooltip" data-placement="top" title="Auto SLM">
												<div class="label"></div>
											</div>
										</div>
									</td>
									<td>
										<h5><a href="/feed">4</a></h5>
										<div>Changes</div>
									</td>
									<td><div class="badge badge-pill badge-danger">Error at 52%</div></td>
									<td class="text-right">
										<div class="btn-group">
										  <a href="/feed" class="btn btn-danger">View Errors</a>
										  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    <span class="sr-only">Toggle Dropdown</span>
										  </button>
										  <div class="dropdown-menu dropdown-menu-right">
										    <a class="dropdown-item" href="#">Disable</a>
										    <a class="dropdown-item" href="#">Another</a>
										  </div>
										</div>
									</td>
								</tr>
								<tr>
									<td><input class="checkbox" type="checkbox" id="" value="option1"></td>
									<td>
										<h5><a href="/feed">Auto Mart</a></h5>
										<div>Created <b>Apr 11, 2017 9:48 am</b></div>
									</td>
									<td>
										<div class="grid grid-sm">
											<div class="step customer" data-toggle="tooltip" data-placement="top" title="McCarthy">
												<div class="label"></div>
											</div>
											<div class="step integrate">
												<div class="label"></div>
											</div>
											<div class="step merchant" data-toggle="tooltip" data-placement="top" title="IX">
												<div class="label"></div>
											</div>
										</div>
									</td>
									<td>
										<h5><a href="/feed">12</a></h5>
										<div>Changes</div>
									</td>
									<td><div class="badge badge-pill badge-secondary">Syncing at 83%</div></td>
									<td class="text-right">
										<div class="btn-group">
										  <a href="/feed" class="btn btn-secondary">View Feed</a>
										  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    <span class="sr-only">Toggle Dropdown</span>
										  </button>
										  <div class="dropdown-menu dropdown-menu-right">
										    <a class="dropdown-item" href="#">Disable</a>
										    <a class="dropdown-item" href="#">Another</a>
										  </div>
										</div>
									</td>
								</tr>
								<tr>
									<td><input class="checkbox" type="checkbox" id="" value="option1"></td>
									<td>
										<h5><a href="/feed">IX</a></h5>
										<div>Merged <b>May 11, 2017 10:48 am</b></div>
									</td>
									<td>
										<div class="grid grid-sm">
											<div class="step customer" data-toggle="tooltip" data-placement="top" title="McCarthy">
												<div class="label"></div>
											</div>
											<div class="step integrate">
												<div class="label"></div>
											</div>
											<div class="step merchant" data-toggle="tooltip" data-placement="top" title="Auto Mart">
												<div class="label"></div>
											</div>
										</div>
									</td>
									<td>
										<h5><a href="/feed">29</a></h5>
										<div>Changes</div>
									</td>
									<td><div class="badge badge-pill badge-success">Feed Active</div></td>
									<td class="text-right">
										<div class="btn-group">
										  <a href="/feed" class="btn btn-secondary">View Feed</a>
										  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    <span class="sr-only">Toggle Dropdown</span>
										  </button>
										  <div class="dropdown-menu dropdown-menu-right">
										    <a class="dropdown-item" href="#">Disable</a>
										    <a class="dropdown-item" href="#">Another</a>
										  </div>
										</div>
									</td>
								</tr>
								<tr>
									<td><input class="checkbox" type="checkbox" id="" value="option1"></td>
									<td>
										<h5><a href="/feed">Junk Mail</a></h5>
										<div>Merged <b>May 11, 2017 10:48 am</b></div>
									</td>
									<td>
										<div class="grid grid-sm">
											<div class="step customer" data-toggle="tooltip" data-placement="top" title="McCarthy">
												<div class="label"></div>
											</div>
											<div class="step integrate">
												<div class="label"></div>
											</div>
											<div class="step merchant" data-toggle="tooltip" data-placement="top" title="Junk Mail">
												<div class="label"></div>
											</div>
										</div>
									</td>
									<td>
										<h5><a href="/feed">2</a></h5>
										<div>Changes</div>
									</td>
									<td><div class="badge badge-pill badge-success">Feed Active</div></td>
									<td class="text-right">
										<div class="btn-group">
										  <a href="/feed" class="btn btn-secondary">View Feed</a>
										  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										    <span class="sr-only">Toggle Dropdown</span>
										  </button>
										  <div class="dropdown-menu dropdown-menu-right">
										    <a class="dropdown-item" href="#">Disable</a>
										    <a class="dropdown-item" href="#">Another</a>
										  </div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						
					</div>
					<div class="tab-pane fade" id="v-pills-syncing" role="tabpanel" aria-labelledby="v-pills-syncing-tab">
						
						
						
					</div>
					<div class="tab-pane fade" id="v-pills-complete" role="tabpanel" aria-labelledby="v-pills-complete-tab">
						
					
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container-max">
		<div class="d-flex mb-4">
			<div class="mr-auto">
				<h2 class="display-4">My Feeds</h2>
			</div>
			<div class="align-self-center">
				<a href="/add-feed" class="btn btn-primary">Create a feed</a>
			</div>
		</div>
		
		<div class="row myFeeds">
			
			<div class="col-md-6">
				<div class="card mb-4 bg-secondary">
					<div class="card-body">
						
						<ul class="feed-legend mx-auto">
					        <li>Truck and Trailer</li>
					        <li>Add</li>
					        <li>IX</li>
						</ul>
						
						<div class="grid mx-auto">
							<div class="step customer">
								<div class="label"></div>
							</div>
							<div class="step integrate">
								<div class="label"></div>
							</div>
							<div class="step merchant invalid">
								<div class="label"></div>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
						</div>
					</div>
					<div class="card-footer status text-light">
						<i class="fa fa-circle text-light"></i> Off
						<span>Started on <b>24 Nov 2017</b></span>
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="card mb-4">
					<div class="card-body">
						
						<ul class="feed-legend mx-auto">
					        <li>Auto Mart</li>
					        <li>Merge</li>
					        <li>IX</li>
						</ul>
						
						<div class="grid mx-auto">
							<div class="step customer">
								<div class="label"></div>
							</div>
							<div class="step integrate">
								<div class="label"></div>
							</div>
							<div class="step merchant">
								<div class="label"></div>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
						</div>
					</div>
					<div class="card-footer status text-dark">
						<i class="fa fa-circle text-success"></i> Active
						<span>Merged on <b>20 Nov 2017</b></span>
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="card mb-4">
					<div class="card-body">
						
						<ul class="feed-legend mx-auto">
					        <li>Gumtree</li>
					        <li>Added</li>
					        <li>IX</li>
						</ul>
						
						<div class="grid mx-auto">
							<div class="step customer">
								<div class="label"></div>
							</div>
							<div class="step integrate">
								<div class="label"></div>
							</div>
							<div class="step merchant">
								<div class="label"></div>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
						</div>
					</div>
					<div class="card-footer status text-dark">
						<i class="fa fa-circle text-success"></i> Active
						<span>Added on <b>23 Nov 2017</b></span>
					</div>
				</div>
			</div>
			
			<div class="col-md-6">
				<div class="card mb-4">
					<div class="card-body">
						
						<ul class="feed-legend mx-auto">
					        <li>Junk Mail</li>
					        <li>Added</li>
					        <li>IX</li>
						</ul>
						
						<div class="grid mx-auto">
							<div class="step customer">
								<div class="label"></div>
							</div>
							<div class="step integrate">
								<div class="label"></div>
							</div>
							<div class="step merchant">
								<div class="label"></div>
							</div>
						</div>
						<div class="progress">
							<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
						</div>
					</div>
					<div class="card-footer status text-dark">
						<i class="fa fa-circle text-success"></i> Active
						<span>Added on <b>23 Nov 2017</b></span>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
</section>


<div class="p-4 bg-light">
	<h4>A Feed</h4>
	<ul>
		<li>My Feed - Integration - Merchant</li>
		<li>Progress</li>
		<li>Start Time</li>
		<li>Done Time</li>
	</ul>
</div>
