@{
    ViewData["Title"] = "Match Fields";
}

<section class="section pt-0">
	<div class="container-fluid">
		<div class="row mb-4">
			<div class="col">
				<h2 class="display-4">@ViewData["Title"]</h2>
				<p class="lead">Now let's match the columns in your feed to McCarthy Toyota Hatfield's feed.</p>
			</div>
		</div>
		
		<table class="table table-bordered shuffle-table">
			<thead class="thead-light">
				<tr>
					<th>McCarthy Toyota<div class="badge badge-secondary float-right">Fields</div></th>
					<th>Auto Mart</th>
					<th>Result</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>DealerProductID<div class="badge badge-secondary float-right">521</div></td>
					<td>ProductID</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>Name<div class="badge badge-secondary float-right">HINO 57-450 PROFIA (6X4)</div></td>
					<td>
						<ol data-draggable="target" id="thisone">
							<li data-draggable="item">Name</li>
						</ol>
					</td>
					<td><div class="full-tags"></div></td>
				</tr>
				<tr>
					<td>QCategoryName<div class="badge badge-secondary float-right">Truck Tractors</div></td>
					<td>
						<ol data-draggable="target">
							<li data-draggable="item">CategoryNumber</li>
						</ol>
					</td>
					<td><div class="full-tags"></div></td>
				</tr>
				<tr>
					<td>InternalStockNumber<div class="badge badge-secondary float-right">RAVT101</div></td>
					<td>
						<ol data-draggable="target">
							<li data-draggable="item">StockNumber</li>
						</ol>
					</td>
					<td></td>
				</tr>
				<tr>
					<td>Brand<div class="badge badge-secondary float-right">HINO</div></td>
					<td>
						<ol data-draggable="target">
							<li data-draggable="item">Brand</li>
						</ol>
					</td>
					<td><div class="full-tags"></div></td>
				</tr>
				<tr>
					<td>Model<div class="badge badge-secondary float-right">HINO 57-450 PROFIA (6X4)</div></td>
					<td>
						<ol data-draggable="target">
							<li data-draggable="item">ItemModel</li>
						</ol>
					</td>
					<td><div class="full-tags"></div></td>
				</tr>
				<tr>
					<td>MeterReadoutHours<div class="badge badge-secondary float-right">285000</div></td>
					<td>
						<ol data-draggable="target">
							<li data-draggable="item">OdoHours</li>
						</ol>
					</td>
					<td><div class="full-tags"></div></td>
				</tr>
				<tr>
					<td>Location<div class="badge badge-secondary float-right">DURBAN</div></td>
					<td>
						<ol data-draggable="target">
							<li data-draggable="item">Location</li>
						</ol>
					</td>
					<td><div class="full-tags"></div></td>
				</tr>
				<tr>
					<td>YearOfManufacture<div class="badge badge-secondary float-right">2007</div></td>
					<td>
						<ol data-draggable="target">
							<li data-draggable="item">Year</li>
						</ol>
					</td>
					<td><div class="full-tags"></div></td>
				</tr>
				<tr>
					<td>AttachmentPath1<div class="badge badge-secondary float-right">item/5/ravt101.jpg</div></td>
					<td>
						<ol data-draggable="target">
							<li data-draggable="item">Image1</li>
						</ol>
					</td>
					<td><div class="full-tags"></div></td>
				</tr>
			</tbody>
			<tfoot class="thead-light">
				<tr>
					<th>&nbsp;</th>
					<th>Unused</th>
					<th>&nbsp;</th>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						<ol data-draggable="target">
							<li data-draggable="item">VR Photo</li>
							<li data-draggable="item">Video</li>
							<li data-draggable="item">Description</li>
						</ol>
					</td>
					<td>&nbsp;</td>
				</tr>
			</tfoot>
		</table>
		
		<div class="text-center">
	    	<a href="/feeds" class="btn btn-primary btn-big mt-2">Commit</a>
		</div>
		
	</div>
</section>



@section Scripts {
	<script src="~/js/shuffle.js"></script>
	<script>
		//$("#thisone").clone().appendTo("#here");
	</script>
}
