@{
    ViewData["Title"] = "Ford Account";
}

<section class="section pt-0">
	<div class="container-fluid">
		<div class="row mb-4">
			<div class="col-9">
				<h2 class="display-4">@ViewData["Title"] <a href="javascript:void(0)">21</a></h2>
				<div class="dropdown">
				  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    Switch Account
				  </button>
				  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				    <a class="dropdown-item" href="/lexus-account">Lexus</a>
				    <a class="dropdown-item" href="/toyota-account">Toyota</a>
				    <a class="dropdown-item" href="/chevrolet-account">Chevrolet</a>
				  </div>
				</div>
			</div>
			<div class="col-3 align-self-center text-right">
				<a href="/create-feed" class="btn btn-primary">Create a feed</a>
			</div>
		</div>
		
		<div id="searchFeed" class="mb-4">
			<ul class="list">
				<li>
					<a href="javascript:void(0)" id="FordFeed">
						<div>
							<img src="/images/feed/ford.svg">
							<span class="feed-name">Barloworld Ford Menlyn</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" id="FordFeed">
						<div>
							<img src="/images/feed/ford.svg">
							<span class="feed-name">McCarthy Ford Lynnwood</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" id="FordFeed">
						<div>
							<img src="/images/feed/ford.svg">
							<span class="feed-name">McCarthy Ford Hatfield</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" id="FordFeed">
						<div>
							<img src="/images/feed/ford.svg">
							<span class="feed-name">McCarthy Ford Centurion</span>
						</div>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" id="FordFeed">
						<div>
							<img src="/images/feed/ford.svg">
							<span class="feed-name">McCarthy Ford Edenvale</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		
		
		
		<div class="card mb-4">
			<h3 class="card-header bg-white">Dealerships</h3>
			<div class="py-4">
				<table id="MainTable" class="table table-sm table-hover">
					<thead class="thead-dark">
						<tr>
							<th>Dealership Name</th>
							<th>Dealership ID</th>
							<th>No. Image</th>
							<th>Used Vehicle Stock ID</th>
						</tr>
					</thead>
					<tbody>
					  <tr>
						  <td>McCarthy Ford Lynnwood</td>
					    <td>347</td>
					    <td>0</td>
					    <td>137</td>
					  </tr>
					  <tr>
						  <td>McCarthy Ford Hatfield</td>
					    <td>702</td>
					    <td>1</td>
					    <td>941</td>
					  </tr>
					  <tr>
						  <td>CMH Ford Alberton</td>
					    <td>597</td>
					    <td>2</td>
					    <td>216</td>
					  </tr>
					  <tr>
						  <td>McCarthy Ford Bruma</td>
					    <td>566</td>
					    <td>3</td>
					    <td>897</td>
					  </tr>
					  <tr>
						  <td>East Rand Ford</td>
					    <td>795</td>
					    <td>4</td>
					    <td>916</td>
					  </tr>
					  <tr>
						  <td>Pat Hinde Boksburg</td>
					    <td>99</td>
					    <td>5</td>
					    <td>554</td>
					  </tr>
					  <tr>
						  <td>Carnival Ford</td>
					    <td>342</td>
					    <td>6</td>
					    <td>251</td>
					  </tr>
					  <tr>
						  <td>Godrich Ford</td>
					    <td>204</td>
					    <td>7</td>
					    <td>291</td>
					  </tr>
					  <tr>
						  <td>Barloworld Ford Centurion</td>
					    <td>500</td>
					    <td>8</td>
					    <td>585</td>
					  </tr>
					  <tr>
						  <td>McCarthy Ford Centurion</td>
					    <td>690</td>
					    <td>9</td>
					    <td>373</td>
					  </tr>
					  <tr>
						  <td>McCarthy Ford Edenvale</td>
					    <td>409</td>
					    <td>10</td>
					    <td>629</td>
					  </tr>
					  <tr>
						  <td>Rand Stadium Ford The Glen</td>
					    <td>613</td>
					    <td>11</td>
					    <td>477</td>
					  </tr>
					  <tr>
						  <td>Auto Ren Ford</td>
					    <td>259</td>
					    <td>12</td>
					    <td>218</td>
					  </tr>
					  <tr>
						  <td>Imperial Ford City</td>
					    <td>47</td>
					    <td>13</td>
					    <td>203</td>
					  </tr>
					  <tr>
						  <td>Killarney Ford</td>
					    <td>805</td>
					    <td>14</td>
					    <td>933</td>
					  </tr>
					  <tr>
						  <td>Southern Ford</td>
					    <td>409</td>
					    <td>15</td>
					    <td>955</td>
					  </tr>
					  <tr>
						  <td>Fury Ford</td>
					    <td>535</td>
					    <td>16</td>
					    <td>877</td>
					  </tr>
					  <tr>
						  <td>Imperial Ford Bedfordview</td>
					    <td>773</td>
					    <td>17</td>
					    <td>764</td>
					  </tr>
					  <tr>
						  <td>McCarthy Ford Midrand</td>
					    <td>303</td>
					    <td>18</td>
					    <td>330</td>
					  </tr>
					  <tr>
						  <td>Nic Bottari Ford</td>
					    <td>665</td>
					    <td>19</td>
					    <td>947</td>
					  </tr>
					  <tr>
						  <td>Halfway Ford Honeydew</td>
					    <td>200</td>
					    <td>20</td>
					    <td>434</td>
					  </tr>
				
					</tbody>
				</table>
			</div>
		</div>
		
		
		<div class="card mb-4">
			<div class="card-body">
				<h5>Different URL calls</h5>
				<ul>
					<li>Dealership: <small class="badge badge-secondary">DealershipID_PK</small> - <a href="">https://{{serverURL}}/Dealerships/</a></li>
					<li>Used Vehicle Stock: <small class="badge badge-secondary">UsedVehicleStock</small> - <a href="">https://{{serverURL}}/UsedVehicleStock?DealershipID_FK={{use DealershipID_PK from Dealerships call}}</a></li>
					<li>Stock Images: <small class="badge badge-secondary">UsedVehicleStock/Image</small> - <a href="">https://{{serverURL}}/UsedVehicleStock/Image/{{EncImage retrieved per stock item per image}}</a></li>
				</ul>
				<div><b>Note:</b> Downloading of images will only be permitted between <b>1:00 and 2:00</b> in the mornings (GMT+2)</div>
			</div>
		</div>
	
	</div>
</section>


@section Scripts {
	<script src="~/js/jquery.dataTables.min.js"></script>
	<script src="~/js/dataTables.bootstrap4.min.js"></script>
	<script>
		$(document).ready(function(){
		    $('#MainTable').DataTable(
			    {
				    "paging":   true,
			        "ordering": true,
			        "info":     true,
			        "filter":   true,
			        "aoColumns":   [
				        { "bSortable": true },
				        { "bSortable": true },
				        { "bSortable": true },
				        { "bSortable": true }
			        ]
			    }
		    );
		});
	</script>
}