@{
    ViewData["Title"] = "Home Page";
}

<section class="section">
	
	<section class="frontpage-content">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h1 class="display-2">Feed your content</h1>
					<p class="lead">Get your stock from one merchant to another with ease</p>
					<a href="/search" class="btn btn-primary btn-round btn-flat btn-lg">Start your Feed</a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="frontpage-transfer">
		<div class="frontpage-devices client">
			<div class="device">
				<div class="device-screen"></div>
			</div>
		</div>
		<div class="my-feed"></div>
		<div class="feeder">
			<div class="screen pri-gradient-darker">
				<img src="~/images/feeder.png" class="img-fluid">
			</div>
		</div>
		<div class="merchant-feed"></div>
		<div class="frontpage-devices merchant">
			<div class="device">
				<div class="device-screen"></div>
			</div>
		</div>
	</section>
	
</section>

<section class="section">
	<div class="floater">
		<div class="inner slide">
			<div class="wrapping">
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#007bff"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#6610f2"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#6f42c1"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#e83e8c"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#dc3545"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#fd7e14"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#ffc107"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#28a745"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#20c997"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#17a2b8"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#eeeeee"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#868e96"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#343a40"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#6f42c1"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#000000"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#007bff"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#6610f2"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#6f42c1"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#e83e8c"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#dc3545"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#fd7e14"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#ffc107"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#28a745"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#20c997"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#17a2b8"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#eeeeee"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#868e96"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#343a40"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#6f42c1"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#000000"/>
						</g>
					</svg>
				</span>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 text-center pri-gradient-darker text-white">
				<div class="p-lg">
					<h2>Why Feeder</h2>
					<p class="lead">Easily bring your stock to life with feeder by feeding them to a merchant.</p>
					<a href="" class="btn btn-light btn-round btn-lg">Get Started Now</a>
				</div>
			</div>
			<div class="col-md-6 text-center dark-gradient text-white">
				<div class="p-lg">
					<h2>Feed Health</h2>
					<p class="lead">Measure your feed health across all platforms.</p>
					<a href="" class="btn btn-primary btn-round btn-lg">Check Feed Health</a>
				</div>
			</div>
		</div>
	</div>
</section>


@section Scripts {
<script>

</script>
}
