@{
    ViewData["Title"] = "Home Page";
}


<div class="p-4 bg-light d-none">
	<h4>Background</h4>
	<ul>
		<li>Dealer (Rivonia Toyota) register on AM (AM id: 203639)</li>
		<li>Tells AM - Import stock from: IX (IX id: 8616)</li>
		<li>AM pulls stock details from IX</li>
		<li>Changes made on IX</li>
		<li>AM: Uses latest from IX OR Always Import & Overwrite from IX OR Keep changes made on AM and Add IX</li>
	</ul>
	<h4>DS/AM Importer:</h4>
	<ul>
		<li>Matches (AM id: 203639) with (IX id: 8616)</li>
		<li>AM import stock from IX</li>
		<li>Make changes on IX</li>
		<li>AM: Uses latest from IX</li>
		<li>AM: Import & Overwrite from IX</li>
		<li>AM: Keep AM stock and Add IX</li>
	</ul>
	<h4>Dealer's Need:</h4>
	<div class="row">
		<div class="col">
			<b>Need to do/see</b>
			<ul>
				<li>Setup Feeds</li>
				<li>Setup Rules</li>
				<li>Monitor Feeds & Irregularities</li> 
				<li>Did my stock sync to AM from IX?</li>
				<li>Yes: See on Feeder Dash - Results</li>
				<li>No: What or where is the problem</li>
				<li>Next step to fix it</li>
			</ul>
		</div>
		<div class="col">
			<b>Requires</b>
			<ul>
				<li>AM Feed details (url - api - xml)</li>
				<li>IX Feed details (url - api - xml)</li>
				<li>Make rules for cross sharing (eg. Get latest from IX)</li>
			</ul>
		</div>
	</div>
	<h4>A Feed:</h4>
	<div class="row">
		<div class="col">
			<b>Labels</b>
			<ul>
				<li>IX >>> AM</li>
				<li>State</li>
				<li>Date created</li>
				<li>Dated last synced</li>
				<li>Elapsed time to sync</li>
				<li>When synced (busy)</li>
				<li>Changes (past 7/30 days)</li>
			</ul>
		</div>
		<div class="col">
			<b>Errors</b>
			<ul>
				<li>Setup Errors</li>
				<li>System/API down</li>
				<li>Not synced yet</li>
			</ul>
		</div>
	</div>
	<h4>Feeder:</h4>
	<div class="row">
		<div class="col">
			<b>Displays</b>
			<ul>
				<li>IX >>> AM</li>
				<li>Feed OK: OK</li>
				<li>Feed Error: What and where</li>
				<li>Feed Error: Notification</li>
				<li>Fix error where --></li>
			</ul>
		</div>
		<div class="col">
			<b>Errors</b>
			<ul>
				<li>Setup Errors</li>
				<li>System/API down</li>
				<li>Not synced yet</li>
			</ul>
		</div>
	</div>
</div>


<section class="section">
	
	<section class="frontpage-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col text-center">
					<h1 class="display-2">Feed your content</h1>
					<p class="lead mx-auto">Get your stock from one merchant to another with ease</p>
					<a href="/add-feed" class="btn btn-primary btn-round btn-flat btn-lg">Start your Feed</a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="frontpage-transfer">
		<div class="frontpage-devices client">
			<div class="device">
				<div class="device-screen"></div>
			</div>
		</div>
		<div class="feeder">
			<div class="screen white-bg">
				<img src="~/images/logo.svg" class="img-fluid">
			</div>
		</div>
		<div class="frontpage-devices merchant">
			<div class="device">
				<div class="device-screen"></div>
			</div>
		</div>
	</section>
	
</section>

<section class="section">
	<div class="floater">
		<div class="inner slide">
			<div class="wrapping">
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#007bff"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#6610f2"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#6f42c1"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#e83e8c"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#dc3545"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#fd7e14"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#ffc107"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#28a745"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#20c997"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#17a2b8"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#eeeeee"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#868e96"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#343a40"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#6f42c1"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#000000"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#007bff"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#6610f2"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#6f42c1"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#e83e8c"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#dc3545"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#fd7e14"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#ffc107"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#28a745"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#20c997"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#17a2b8"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#eeeeee"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#868e96"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#343a40"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#6f42c1"/>
						</g>
					</svg>
				</span>
				<span>
					<svg width="70" height="70" viewBox="0 0 70 70">
						<g fill="none" fill-rule="evenodd">
							<circle cx="35" cy="35" r="35" fill="#000000"/>
						</g>
					</svg>
				</span>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 text-center pri-gradient-darker text-white">
				<div class="p-lg">
					<h2 class="display-4">Why Feeder</h2>
					<p class="lead mx-auto">Easily bring your stock to life with feeder by feeding them to a merchant.</p>
					<a href="" class="btn btn-light btn-round btn-lg">Get Started Now</a>
				</div>
			</div>
			<div class="col-md-6 text-center dark-gradient text-white">
				<div class="p-lg">
					<h2 class="display-4">Feed Health</h2>
					<p class="lead mx-auto">Measure your feed health across all platforms.</p>
					<a href="" class="btn btn-primary btn-round btn-lg">Check Feed Health</a>
				</div>
			</div>
		</div>
	</div>
</section>



@section Scripts {

}
