@{
    ViewData["Title"] = "Search";
}

<section id="searchService">
	<div class="container-max px-4">
		<div class="row mb-4">
			<div class="col text-center">
				<h1 class="display-4">1st Ingredient</h1>
				<div class="badge badge-pill badge-secondary mx-auto">Step 1 of 2</div>
			</div>
		</div>
		<div class="row mb-4">
			<div class="col-md-6 text-center mb-2">
				<div class="search mb-3">
					<input type="text" class="form-control" id="" placeholder="search services...">
				</div>
			</div>
			<div class="col-md-6 text-center mb-2">
				<div class="paste mb-3">
					<input type="text" class="form-control" id="" placeholder="api url...">
				</div>
			</div>
		</div>
		
		<div class="text-center">
			<h4>Recommended for you</h4>
		</div>
		
		<ul class="list">
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/mascus.svg">
						<span class="feed-name">Mascus</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/ix.svg">
						<span class="feed-name">IX</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/toyota.svg">
						<span class="feed-name">Toyota</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/feed.svg">
						<span class="feed-name">Private Property</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/evernote.svg">
						<span class="feed-name">Evernote</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/feed.svg">
						<span class="feed-name">Indeed</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/feed.svg">
						<span class="feed-name">Junk Mail</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/feed.svg">
						<span class="feed-name">Imperial Select</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/feed.svg">
						<span class="feed-name">Job Mail</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/feed.svg">
						<span class="feed-name">Auto SLM</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/hyundai.svg">
						<span class="feed-name">Hyundai</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/feed.svg">
						<span class="feed-name">Property 24</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/feed.svg">
						<span class="feed-name">Dunquip</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/feed.svg">
						<span class="feed-name">Truck and Trailer</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/feed.svg">
						<span class="feed-name">Imperial Auto</span>
					</div>
				</a>
			</li>
			<li>
				<a href="javascript:void(0)">
					<div>
						<img src="/images/feed/automart.svg">
						<span class="feed-name">Auto Mart</span>
					</div>
				</a>
			</li>
		</ul>
		
		<h4 class="text-center">Find by industry/category</h4>
		
		<div class="industries">		
				<div><a href="">Agriculture and Mining</a></div>		
				<div><a href="">Business Services</a></div>		
				<div><a href="">Computer and Electronics</a></div>		
				<div><a href="">Consumer Services</a></div>		
				<div><a href="">Education</a></div>		
				<div><a href="">Energy and Utilities</a></div>		
				<div><a href="">Financial Services</a></div>		
			    <div><a href="">Government</a></div>		
				<div><a href="">Health, Pharmaceuticals, and Biotech</a></div>		
				<div><a href="">Manufacturing</a></div>		
				<div><a href="">Media and Entertainment</a></div>		
				<div><a href="">Non-profit</a></div>		
				<div><a href="">Real Estate and Construction</a></div>		
				<div><a href="">Retail</a></div>		
				<div><a href="">Automobile Dealers</a></div>		
				<div><a href="">Software and Internet</a></div>		
				<div><a href="">Telecommunications</a></div>		
				<div><a href="">Transportation and Storage</a></div>		
				<div><a href="">Travel Recreation and Leisure</a></div>		
				<div><a href="">Wholesale and Distribution</a></div>		
			</div>
		
		<div class="text-center">
			<p class="mx-auto"><a href="javascript:void(0)">Show all Services</a></p>
			<p class="mx-auto">Couldn't find what you were looking for? <a href="javascript:void(0)">Suggest a new Service!</a></p>
		</div>
	</div>
</section>

<section id="connectHere" class="d-none">
	<div class="container-max px-4">
		<button type="button" class="btn btn-outline-secondary btn-round" id="backToSearch"><i class="fa fa-chevron-left"></i> Back</button>
		<div class="row mb-4">
			<div class="col text-center">
				<h1 class="display-4">Connect to service</h1>
				<div class="badge badge-pill badge-secondary mx-auto">Step 2 of 2</div>
				<h4 class="text-center mt-4">Account URL</h4>
				<div class="large-input mb-4">
					<input type="text" class="form-control" id="" placeholder="https://...">
				</div>
				<h4 class="text-center">Dealer ID</h4>
				<div class="large-input mb-4">
					<input type="text" class="form-control" id="" placeholder="id...">
				</div>
				<h4 class="text-center">Log in</h4>
				<div class="large-input mb-4">
					<input type="text" class="form-control mb-2" id="" placeholder="username...">
					<input type="text" class="form-control" id="" placeholder="password...">
				</div>
				<a href="/service" class="btn btn-primary btn-big mt-2">Connect</a>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<script src="~/js/list.min.js"></script>
	<script>
		var options = {
		  valueNames: [ 'feed-name' ]
		};
		var userList = new List('searchService', options);
	</script>
	<script src="~/js/typeahead.jquery.min.js"></script>
	<script src="~/js/typeahead.services.js"></script>
	
	<script>
		$('#searchService a').click( function() {
		    $('#connectHere').removeClass('d-none')
		    $('#searchService').addClass('d-none')
		});
		
		$('#backToSearch').click( function() {
		    $('#connectHere').addClass('d-none')
		    $('#searchService').removeClass('d-none')
		});
	</script>
}
