$shout:                       9vw !default;

.shout {
    font-size: $shout;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
}

.shout,
.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: $headings-font-family;
}


p {
	max-width: 635px; 
}